<h1 class="visually-hidden">
  {{ page.title | escape }}
</h1>

<div class="home-content">
  <div class="home-content__text animated-intro-item animated-intro-text">
    I’M PATIENT AS THE EARTH<br>
    I ONLY TURN ONE WAY
    {% comment %} {{ section.settings.text }} {% endcomment %}
  </div>
</div>

{% schema %}
{
  "name": "Home content",
  "tag": "section",
  "class": "section",
  "enabled_on": {
    "templates": ["index"],
    "groups": ["aside"]
  },
  "settings": [
    {
      "type": "textarea",
      "id": "text",
      "label": "Text"
    }
  ]
}
{% endschema %}
