<h1 class="visually-hidden">
  {{ page.title | escape }}
</h1>

<div class="home-content">
  <div class="home-content__text animated-intro-item animated-intro-text">
    I’M PATIENT AS THE EARTH<br>
    I ONLY TURN ONE WAY
  </div>
</div>

{% schema %}
{
  "name": "Home content",
  "tag": "section",
  "class": "section",
  "enabled_on": {
    "templates": ["index"],
    "groups": ["aside"]
  },
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "limit": 20,
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ]
}
{% endschema %}
