<h1 class="visually-hidden">
  {{ page.title | escape }}
</h1>

<div class="about-content">
  <div class="about-content__container">
    <div class="about-content__images">
      {%- if section.settings.image != blank -%}
        <div class="">
          {{
            section.settings.image
            | image_url: width: 400
            | image_tag:
              width: image_height,
              height: image_height,
              class: image_class,
              sizes: sizes,
              widths: widths,
              fetchpriority: fetch_priority
          }}
        </div>
      {%- endif -%}
    </div>
    <div class="about-content__text"></div>
    <div class="about-content__images"></div>
  </div>

  {%- if section.settings.image_2 != blank -%}
    <div class="banner__media media{% if section.settings.image != blank %} banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {%- liquid
        assign image_height_2 = section.settings.image_2.width | divided_by: section.settings.image_2.aspect_ratio
        if section.settings.image != blank
          assign image_class_2 = 'banner__media-image-half'
        endif
        if section.settings.image != blank and section.settings.stack_images_on_mobile
          assign sizes = stacked_sizes
        elsif section.settings.image_2 != blank
          assign sizes = half_width
        else
          assign sizes = full_width
        endif
      -%}
      {{
        section.settings.image_2
        | image_url: width: 3840
        | image_tag:
          width: section.settings.image_2.width,
          height: image_height_2,
          class: image_class_2,
          sizes: sizes,
          widths: widths,
          fetchpriority: fetch_priority
      }}
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "About content",
  "tag": "section",
  "class": "section",
  "enabled_on": {
    "templates": ["page"],
    "groups": ["aside"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image one"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image two"
    },
    {
      "type": "textarea",
      "id": "content_text",
      "label": "Text"
    }
  ]
}
{% endschema %}
