<h1 class="visually-hidden">
  {{ page.title | escape }}
</h1>

<div class="shop-by-product screen-height reveal">
  <div id="shop-by-product-contents" class="shop-by-product__container"></div>
</div>

<!-- JavaScript to copy and insert content -->
<script>
  // Get the HTML content of the source div
  var megaMenuContent = document.getElementById('MegaMenu-Content-').innerHTML;

  // Get the destination div
  var shopByProductContents = document.getElementById('shop-by-product-contents');

  // Insert the copied content into the destination div
  shopByProductContents.innerHTML = megaMenuContent;
</script>

{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "class": "section"
}
{% endschema %}
