<h1 class="visually-hidden">
  {{ page.title | escape }}
</h1>

<div class="home-content">
  <div class="home-content__text animated-intro-item animated-intro-text">
    {% comment %}
      I’M PATIENT AS THE EARTH<br>
      I ONLY TURN ONE WAY
    {% endcomment %}
    {{ section.settings.text }}
  </div>
</div>

{% schema %}
{
  "name": "Home content",
  "tag": "section",
  "class": "section",
  "enabled_on": {
    "templates": ["index"],
    "groups": ["aside"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "Text on home page load animation"
    }
  ]
}
{% endschema %}
