@import "reset";
@import "media-queries";
@import "variables";
@import "form-inputs";
@import "mixins";
@import "../node_modules/@splidejs/splide/dist/css/splide.min";

/* GLOBAL
---------------------------------------------- */
body {
  font-family: var(--body-font);
  background-color: var(--white);
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  letter-spacing: .18em;
}
html {
  scroll-behavior: smooth;
}
.visually-hidden {
  position:absolute !important;
  overflow:hidden;
  width:1px;
  height:1px;
  margin:-1px;
  padding:0;
  border:0;
  clip:rect(0 0 0 0);
  clip: rect(1px, 1px, 1px, 1px);
  word-wrap:normal !important
}
.center {
  display: flex;
  justify-content: center!important;
  align-items: center!important;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
.text-align-center {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
.italic {
  font-style: italic;
}
.sans-serif {
  font-family: var(--sans-serif-font);
  letter-spacing: .05em;
  font-weight: 500;
}
.underlined, .button a {
  text-decoration-color: var(--black);
  @include underlined-link;
}
.underlined-on-hover a,
a.underlined-on-hover,
.underlined-on-hover button,
button.underlined-on-hover {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: transparent;
  text-decoration-thickness: .06em;
  transition: color .4s ease, text-decoration-color .4s ease;
  &:hover,
  &.active-link {
    text-decoration-color: var(--black);
  }
}
// p:not(:last-of-type) {
//   margin-bottom: 1em;
// }
p a {
  color: inherit;
}
.page-width {
  @include page-width;
}
.large-page-width {
  @include large-page-width;
}
.lr-page-padding {
  padding-left: var(--lr-page-padding);
  padding-right: var(--lr-page-padding);
}

/* Lazy loading
---------------------------------------------- */

[data-lazy] {
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s ease-out;
}

// .image-wrap {
//   background-size: cover;
//   min-width: 0;
//   background-color: var(--white);
// }

/* header
---------------------------------------------- */

.header {
  position: absolute;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 3.2rem var(--wide-lr-page-padding) 2rem var(--wide-lr-page-padding);
  z-index: 2;
  @include for-small-tablet-below {
  }
  &__heading-logo-wrapper {
    margin: 0 18vw;
  }
  &__heading-logo {
    width: .72rem;
    height: auto;
  }
  &__menu-item {
    text-transform: uppercase;
    padding: .5em;
    display: block;
  }
}

.list-menu {
  display: flex;
  justify-content: space-between;
}

/* footer
---------------------------------------------- */

.footer {
  width: 100%;
  padding: .5rem 6rem 1.5rem 6rem;
}

.footer-block {
  &__details-content {
    display: flex;
    justify-content: center;
  }
  &__link {
    margin: 0 2rem;
    padding: .5em;
    display: block;
  }
}


/* splide
---------------------------------------------- */
.splide {
  &--banner {
    height: 100svh;
  }
}
/* home
---------------------------------------------- */
.template-index {
  min-height: 100svh;
  .footer {
    position: absolute;
    bottom: 0;
  }
}

/* space
---------------------------------------------- */
.template-page-space {
  max-height: 100svh;
  position: relative;
  .footer {
    position: absolute;
    bottom: 0;
  }
}
.space-content {
  max-height: 100svh;
  &__text-wrapper {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--lr-page-padding);
  }
  &__text {
    text-align: center;
    max-width: 1140px;
    letter-spacing: .142rem;
    line-height: 155%;
  }
  &__title {
    font-size: var(--medium-font-size);
    text-transform: uppercase;
    margin-bottom: 6rem;
  }
  &__paragraph {
    font-size: var(--medium-font-size);
    margin-bottom: 4.5rem;
    line-height: 155%;
  }
  &__button {
    display: block;
    text-transform: uppercase;
    text-decoration: underline;
    padding: 0.5em;
  }
}

.banner {
  img {
    width: 100vw;
    height: 100vh;
    height: 100svh;
    object-fit: cover;
  }
}

/* about
---------------------------------------------- */
.template-page-about {
  .screen-height {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.about-content {
  min-height: 92svh;
  padding: 12rem var(--large-lr-page-padding) 4rem var(--large-lr-page-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  &__container {
    width: 100%;
    display: grid;
    gap: var(--x-large-grid-gap);
    grid-template-columns: 160px auto 160px;
  }
  &__text {
    @include medium-size-font;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      max-width: 700px;
      text-align: center;
    }
  }
}

/* collection
---------------------------------------------- */
.collection-hero {
  padding: 0 var(--lr-page-padding);
  padding-top: 22rem;
  &__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-size: var(--large-font-size);
    margin-bottom: 9rem;
  }
  &__description {
    text-align: center;
    max-width: 650px;
    letter-spacing: .142rem;
    font-size: var(--medium-font-size);
    margin-bottom: 9rem;
    line-height: 155%;
  }
}

.collection {
  .product-grid {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .grid {
    padding: var(--lr-page-padding);
    &__item {
      width: 33.33%;
      padding: 1rem 4rem;
      &:first-child,
      &:last-child {
        width: 100%;
        .card__media .media {
          display: flex;
          justify-content: center;
          width: 100%;
          a {
            display: block;
            width: 55%;
          }
          img {
            height: auto;
            width: 100%;
          }
        }
      }
    }
  }
}

/* card
---------------------------------------------- */
.card-wrapper {
  color: inherit;
  height: 100%;
  position: relative;
  text-decoration: none;
}

.card {
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  &__heading {
    text-transform: uppercase;
  }
  .media {
    width: 100%;
  }
  &__inner {
    width: 100%;
  }
  &__content {
    display: grid;
    grid-template-rows: minmax(0, 1fr) max-content minmax(0, 1fr);
    padding: 1rem;
    width: 100%;
    flex-grow: 1;
  }
  &__information {
    grid-row-start: 2;
    padding: 1.3rem 1rem;
  }
  &__badge {
    align-self: flex-end;
    grid-row-start: 3;
    justify-self: flex-start;
    &.top {
      align-self: flex-start;
      grid-row-start: 1;
    }
    &.right {
      justify-self: flex-end;
    }
  }
  &__media .media img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    aspect-ratio: 1/1.25;
  }
  &__heading {
    margin-top: 0;
    margin-bottom: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.card--card,
.card--standard .card__inner {
  position: relative;
  box-sizing: border-box;
}

.card .card__inner .card__media {
  overflow: hidden;
  /* Fix for Safari border bug on hover */
  z-index: 0;
}

.card--standard.card--media .card__inner .card__information,
.card--standard.card--text:not(.card--horizontal)>.card__content .card__heading:not(.card__heading--placeholder),
.card--standard:not(.card--horizontal)>.card__content .card__badge,
.card--standard.card--text.article-card>.card__content .card__information,
.card--standard>.card__content .card__caption {
  display: none;
}

.card--card.card--media .card__inner .card__information,
.card--card.card--text .card__inner,
.card--card.card--media>.card__content .card__badge {
  display: none;
}

.card--horizontal .card__badge,
.card--horizontal.card--text .card__inner {
  display: none;
}

.card-button {
  &__text {
  padding: 1.2rem;
  text-decoration: underline;
  }
}

/* price
---------------------------------------------- */
.price {
  > * {
    display: inline-block;
    vertical-align: top;
  }
  &.price--unavailable {
    visibility: hidden;
  }
  &--end {
    text-align: right;
  }
  .price-item {
    display: inline-block;
    margin: 0 1rem 0 0;
  }
}

.price__regular .price-item--regular {
  margin-right: 0;
}

.price:not(.price--show-badge) .price-item--last:last-of-type {
  margin: 0;
}


.price--sold-out .price__availability,
.price__regular {
  display: block;
}

.price__sale,
.price__availability,
.price .price__badge-sale,
.price .price__badge-sold-out,
.price--on-sale .price__regular,
.price--on-sale .price__availability {
  display: none;
}

.price--sold-out .price__badge-sold-out,
.price--on-sale .price__badge-sale,
.volume-pricing--sale-badge .price__badge-sale {
  display: inline-block;
}

.volume-pricing--sale-badge .price__badge-sale {
  margin-left: 0.5rem;
}

.price--on-sale .price__sale {
  display: initial;
  flex-direction: row;
  flex-wrap: wrap;
}

.price--center {
  display: initial;
  justify-content: center;
}

.price--on-sale .price-item--regular {
  text-decoration: line-through;
  font-size: 1.3rem;
}

.unit-price {
  display: block;
  font-size: 1.1rem;
  letter-spacing: 0.04rem;
  margin-top: 0.2rem;
  text-transform: uppercase;
}

/* contact
---------------------------------------------- */
.template-page-contact {
  .screen-height {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.contact-content {
  min-height: 92svh;
  padding: 18rem var(--wide-lr-page-padding) 4rem var(--wide-lr-page-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 800px;
  }
  &__address-link {
    display: block;
    text-transform: uppercase;
    margin-bottom: 6rem;
  }
  &__text {
    @include medium-size-font;
    margin-bottom: 7rem;
  }
  &__contact-details {
    margin-bottom: 8rem;
  }
  &__contact-detail {
    display: block;
    text-transform: uppercase;
    @include medium-size-font;
  }
}

/* policy
---------------------------------------------- */
.template- {
  .screen-height {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.shopify-policy {
  &__container  {
    padding-top: 16rem;
    padding-bottom: 10rem;
    max-width: 500px;
    line-height: 150%
  }
  &__title {
    font-size: var(--medium-font-size);
    margin-bottom: 2rem;
  }
  strong {
    margin-bottom: 1rem;
  }
}