/* VARIABLES
---------------------------------------------- */
:root {
  /* Font sizes */
  --font-size: 11.25px;

  // --tiny-font-size: 0.65625rem;     //  10.5px
  // --xx-small-font-size: 0.6875rem;  //  11px
  // --x-small-font-size: 0.75rem;     //  12px
  // --small-font-size: 0.78125rem;    //  12.5px
  --medium-font-size: 1.42rem;   //  16px
  --large-font-size: 2.66rem;     //  30px
  // --x-large-font-size: 1.1875rem;   //  19px
  // --xx-large-font-size: 1.4375rem;  //  23px
  // --xxx-large-font-size: 2.125rem;  //  34px
  // --xxxx-large-font-size: 3.75rem;  //  60px
  // --huge-font-size: 4.6875rem;      //  75px

  /* Vertical margins */
  // --xx-small-vertical-margin: 2.625rem;   //  42px
  // --x-small-vertical-margin: 4.0625rem;   //  65px
  // --small-vertical-margin: 4.625rem;      //  74px
  // --medium-vertical-margin: 6.875rem;     //  110px
  // --large-vertical-margin: 8rem;          //  128px
  // --x-large-vertical-margin: 8.75rem;     //  140px
  // --xx-large-vertical-margin: 9rem;       //  144px
  // --xxx-large-vertical-margin: 12rem;       

  /* Colors */
  // --black: #1B1B1B;
  --black: #010101;
  --grey: #E1E2E0;
  --white: white;

  /* Widths, paddings, gaps */
  /* --vh: 1; */
  // --thin-page-width: 870px;
  // // --page-width: 1324px;
  // // --large-page-width: 1376px;
  --lr-page-padding: 3rem;
  // --small-lr-page-padding: 2.3rem;
  --large-lr-page-padding: 5rem;
  --wide-lr-page-padding: 6rem;
  // --x-small-grid-gap: .8rem;
  // --small-grid-gap: 1.5rem;
  --medium-grid-gap: 3rem;
  // --large-grid-gap: 5rem;
  --x-large-grid-gap: 7rem;

  /* Set up */
  font-size: var(--font-size);
  color: var(--black);
}


/* VARIABLES - for-large-tablet-portrait-below
---------------------------------------------- */
@include for-large-tablet-portrait-below {
  :root {
    // /* Font sizes */

    // /* Vertical margins */

    // /* Widths, paddings, gaps */
    --lr-page-padding: 32px;
    --small-lr-page-padding: 32px;
    --wide-lr-page-padding: 3rem;
    --medium-grid-gap: 3rem;
    --x-large-grid-gap: 5rem;
  }
}

/* MOBILE CSS VARIABLES
---------------------------------------------- */
@media (max-width: 599px) {
  :root {
    /* Font sizes */
  
    // /* Vertical margins */

    // /* Widths, paddings, gaps */
    --lr-page-padding: 11px;
    --small-lr-page-padding: 11px;
    --wide-lr-page-padding: 2rem;
    --x-large-grid-gap: 4rem;
  }
}
